{% extends "base2.html" %}

{% block konten %}

<div class="container"><!--ini container ini berguna agar isi webnya di tengan -->
    <div class="jumbotron"><!--jumbroton ini akan di edit fi file style.css yang ada di dalam forder static dan di dalam folder css-->
        <h1 class="display-4">{{dt_tulisan.judul}} </h1>
        <p class="lead">di paost pada {{dt_tulisan.tgl_post}} </p>
        <hr class="my-4">
        <p>{{dt_tulisan.isi}}</p>
      </div>
    
</div>

{% endblock %}