{% extends "pembentukan.html" %}

{% block konten %}
<br>

<h2 class="tentang_indo">Kelembagaan dan Pengelola:</h2>
<h2 class="tentang_inggris">institution and structure</h2><br>
<p class="tentang_indo">
    Sesuai dengan sifat dan tujuannya, maka struktur dan personalia disesuaikan dengan kondisi obyektif serta kebutuhan, sementara para pengelolanya terdiri dari pemuda dan mahasiswa yang tersebar pada 3 (tiga) Perguruna Tinggi di Kota Ternate, yakni pada Universitas KHAIRUN, UMMU dan STIKIP Kie Raha, dengan beragam etnis yang berbeda. 
</p>

{% endblock %}