{% extends "base2.html" %}

{% block konten %}

<div class="container"><!--ini container ini berguna agar isi webnya di tengan -->
    <div class="jumbotron"><!--jumbroton ini akan di edit fi file style.css yang ada di dalam forder static dan di dalam folder css-->
        
        <h3>Pelaporan</h3>
        <!-- form pelaporan ini sama saja dengan daftar.html tapi tentu saja di modif -->
        <form method="POST">
            <div class="container"><!--ini container ini berguna agar isi webnya di tengan -->
               <div class="jumbotron"><!--jumbroton ini akan di edit fi file style.css yang ada di dalam forder static dan di dalam folder css-->
                  
                  {{form.hidden_tag()}}
                  <div class="form-group">
                     {{form.subjek.label(class="form-control-label")}}<!--tanda kurung ini berguna untuk menggunakan clas yang ada di css/bootstrap-->
                     {% if form.subjek.errors %}<!--ini percabangan jika menemukan eror-->
                  {{form.subjek(class="form-control is-invalid")}}
                  <div class="invalid-feedback">
                     {% for error in form.subjek.errors %}
                     <span>{{error}}</span>
                     {% endfor %}
                  </div>
               
                  {% else %}<!--ini else-->
                  {{form.subjek(class="form-control")}}<!--ini juga sama kyak di atas-->
                  
               {% endif %}</div>

               <!-- kategori ini tampilannya sama dengan tag select dan option di html-->
               <div class="form-group">
                {{form.kategori.label(class="form-control-label")}}
                {% if form.kategori.errors %}
                {{form.kategori(class="form-control is-invalid")}}
                 <div class="invalid-feedback">
                {% for error in form.kategori.errors %}
                     <span>{{error}}</span>
                {% endfor %}
                 </div>
          
                {% else %}
                {{form.kategori(class="form-control")}}
             
                  {% endif %}
               </div>

               <!-- detail pengaduan -->
               <div class="form-group">
                {{form.detail_pengaduan.label(class="form-control-label")}}<!--tanda kurung ini berguna untuk menggunakan clas yang ada di css/bootstrap-->
                {% if form.detail_pengaduan.errors %}<!--ini percabangan jika menemukan eror-->
                {{form.detail_pengaduan(class="form-control is-invalid")}}
                 <div class="invalid-feedback">
                {% for error in form.detail_pengaduan.errors %}
                     <span>{{error}}</span>
                {% endfor %}
                 </div>
          
                {% else %}
                {{form.detail_pengaduan(class="form-control")}}
             
                  {% endif %}
               </div>

           
               
               
         
            <div class="form-group">
               
               {{form.submit(class="btn btn-primary")}}<!--ini juga sama kyak di atas-->
            </div>
           
            
         
            </div>
         </div>
         
         </form>

        <hr class="my-4">
        <h4>Data Pelaporan para cepu</h4>
        <table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Tanggal</th>
      <th scope="col">Subjek</th>
      <th scope="col">kategori</th>
      <th scope="col">detail_laporan</th>
      <th scope="col">id</th>
      <th scope="col">edit</th>
      <th scope="col">hapus</th>
    </tr>
  </thead>
  <tbody>
   {% for data in dt_pengaduan %}
    <tr>
      <th scope="row">
        
      </th>
      <td>{{data.tgl_post}} </td>
      <td>{{data.kategori}} </td>
      <td>{{data.subjek}} </td>
      <td>{{data.detail_pengaduan}} </td>
      <!-- mahasiswa itu di dapat dari backref di models.py -->
      <td>{{data.mahasiswa.nama  }}</td>
      <th scope="col"><a  class="btn btn-outline-dark" href="{{url_for('rmahasiswa.edit_lapor',ed_id=data.id)}} ">edit</a></th>
      <th scope="col"><a  class="btn btn-outline-danger" href="/delete/{{data.id}}" onclick="return confirm('ini mo hapus da?') ">hapus</a></th>
      <!-- <th scope="col"><a  class="btn btn-outline-danger" data-toggle="modal"  data-target="#modals-hapus" >hapus</a></th> -->

    </tr>
   {% endfor %}
   <!-- modals -->
   <div class="modal" tabindex="-1" role="dialog" id="modals-hapus">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </tbody>
</table>
      </div>
    
</div>

{% endblock %}