{% extends "base2.html" %}

{% block konten %}

{% for data in info|reverse %}
{% if data.kategori =="Opini" %}


<div class="jumbotron">
  <h1 class="display-4">{{data.judul}}</h1>
  <p class="lead">di post pada {{data.tgl_post.strftime("%d")}} - {{data.tgl_post.strftime("%m")}} - {{data.tgl_post.strftime("%Y")}}</p>
  <p class="lead">{{data.kategori}}</p>


  <hr class="my-4">
  <p></p>
  
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{url_for("radmin.detil",ed_id=data.id_tulisan)}} " role="button">Baca</a>
  </p>
  {% if current_user.is_authenticated %}
  <p class="lead">
    <a  class="btn btn-outline-dark" href="{{url_for("radmin.hapus",ed_id=data.id_tulisan)}} " role="button" return confirm('ini mo hapus da?') ">hapus</a>
    <a  class="btn btn-outline-dark" href="{{url_for("radmin.edit_tulisan",ed_id=data.id_tulisan)}} " role="button" >edit</a>
  </p>

  {%endif%}
  <!-- <a  class="btn btn-outline-danger" href="/delete/{{data.id}}" onclick="return confirm('ini mo hapus da?') ">hapus</a> -->
</div>

{%endif%}

{%endfor%}
{% endblock %}