{% extends "base.html" %}

{% block konten %}
<br>

<h2 class="tentang_indo">Pembentukan dan Fokus Kegiatan:</h2>
<h2 class="tentang_inggris">Launch and the foccused</h2><br>
<p class="tentang_indo">
    Pembentukan Lembaga Independensia berawal dari Forum Studi Independensia didirikan di Ternate, 26 Oktober 1996 oleh M. Sofyan Daud, aktifis HMI dan salah satu tokoh pergerakan  mahasiwa-pemuda Maluku kurun 1996 sampai 2000-an; Ketua Umum BEM Universitas Khairun (1995-1997); Sekretaris Umum HMI Cabang Ternate (1997-1998); Pendiri dan Pemimpin Solidaritas Mahasiswa Indonesia untuk Reformasi – SMIR (1997-2000); Sekretaris Presidium Forum Pemuda, Pelajar dan Mahasiswa Maluku Utara - FPPM-MU (1996-2000-an), institusi yang mengkoordinir perjuangan pemekaran Provinsi Maluku Utara era 1998-1999; Pendiri dan Koordinator Fans’45 Anak Rakyat; Pendiri dan Pembina Kelompok Kajian KABAR (Kelompok Aliansi Baru); dan Pendiri dan Pemimpin Komunitas Seni Hitam-Putih. 
</p>
<p class="tentang_indo">
    Tahun 2005 forum studi independensia mulai menampakan aktiftasnya sejak fakum dari dunia akademik sejak tahun 2001, rutinitas yang menjadi roh perjuangan mulai tumbuh dan berkembang, dan kini universitas Muhammadiyah Maluku Utara sebagai tuan rumah melanjutkan kajian, dan diskusi sebagai jiwa dari forum studi. Mulai perlahan mahasiswa mulai mengenal dan bergabung dengan forum yang sebelumnya telah banyak menghasilkan aktivis, akademisi, politisi, pekerja pers, dan Pekerja LSM.
</p>  
<p class="tentang_indo">
    Seiring perkembangan dan dinimika kemahasiswaan di Perguruan Tinggi di se-Kota Ternate, forum studi Independensia mengelar sebuah diskusi sebagai langkah awal memperkenalkan secara luas dan mensosialisasi kebangkitan forum studi ini, pada hari kamis, 26 April 2007 di Aula Kampus C Universitas Muhammadiyah Maluku Utara, melalui seri diskusi bertema; “Mengugat Gaya Kepemimpinan Mahasiswa dari Kepemimpinan “Elitis” Menuju Kepemimpinan Populis”  menghadirkan narasumber : Darsis Humah (Dekan Hukum Univ. Muhammadiyah Maluku Utara dan Ketua Jurusan Syari’ah STAIN Ternate); Tamrin Husain (Ketua Jurusan Komunikasi Fakultas Fisipol Univ. Muhamadiyah Ternate); dan M. Ramdhani Abubakar (Mantan Aktivis, Mahasiswa Pasca Sarjana Univ. Hassanudin Makassar), sebagai awal mengembangkan jaringan dan menunjukan eksistensi di kalangan mahasiswa dan perguruan tinggi.
</p>
<p class="tentang_indo">
    Sejak itu anggota Forum Studi ini terus bertambah dari waktu ke waktu. Kini, anggota tetap pada setiap kajian dan diskusi, terdiri dari para mahasiswa pada Universitas Khairun Ternate, Universitas Muhammadiyah  Maluku Utara, Sekolah Tinggi Ilmu Keguruan dan Ilmu Pendidikan Ternate, dan Sekolah Tinggi Agama Islam Negeri Ternate, yang berasal dari berbagai jurusan yang ada pada masing-masing perguruan tinggi itu. Sementara dari pihak pengelola sedang mensosialisasi forum study di lingkungan kampus.
</p>
<p class="tentang_indo">
    Selain kajian dan diskusi berkala, Forum Studi ini telah mendorong penmbangunan rumah pencerahan sebagai perpustakaan independensia bagi kalangan anggota dan masyarakat umum. Koleksi buku pada rumah baca itu sebanyak sekitar 500 judul, yang diperoleh melalui para donasi dan pihak-pihak yang memiliki perhatian pada pengembangan  tradisi intelektualitas di daerah ini.
</p>
<p class="tentang_indo">  
    Pada tahun 2012 separuh anggota mengusulkan pembentukan lembaga independensia, sebagai lembaga induk dari independensia. Pembentukan ini  dengan harapan dapat membentuk jaringan yang lebih luas dan kegiatan-kegiatan independensia lebih banyak berorientasi pada kepentingan publik. Selama ini kegiatan forum studi lebih menitiberatkan pada penguatan kapasitas intelektulaitas dan kreatifitas anggota. 
</p>
<p class="tentang_indo">
    Lembaga independensia bergerak keluar untuk dapat membangun jaringan pemberdayaan, edukasi, survey dan publikasi sosial budaya. Melalaui kegiatan-kegiatan yang melibatkan lembaga sosial kemasyarakatan, kepemudaan, dan serta lembaga kemahasiswaan. Untuk mencapai tujuan di atas lembaga Independensia telah menjalin kerjasama dengan lembaga dan perhimpunan mahasiswa, pemudan dan para aktivis untuk konseren mendorong kegiatan minat baca dan menulis. Dengan satu harapan, tumbuh dan berkembang para intelektulitas, penulis dan moralis disemua level kehidupan.        
</p>
{% endblock %}