{% extends "base.html" %}

{% block konten %}
<br>

<h2 class="tentang_indo">Prolog</h2>
<h2 class="tentang_inggris">prologue</h2><br>
<p class="tentang_indo">
    Meredupnya tradisi intelektual di kalangan khususnya mahasiswa dan umum kaum muda belakangan ini mendapat sorotan tajam banyak kalangan. Fenomena demikian dapat dilihat dengan berkurangnnya intensitas mahasiswa dan organisasi kemahasiswaan dalam melakukan kajian, diskusi dan kreativitasnya mendorong tradisi baca-tulis di lingkungan intra kampus maupun ekstra kampus, sebagai salah satu medium pembinaan kualitas intelektualitas dan kreatifitasnya sebagai ciri utama generasi terdidik, yang juga tentu secara komplementer dapat membantu para mahasiswa bersangkutan meraih prestasi akdemiknya. Dampak buruk dari fenomena ini ialah terjadinya kemorosotan tradisi inteletual yang berimplikasi luas, termasuk pada prestasi akademis. 
</p>
<p class="tentang_indo">
    Salah satu implikasi paling nyata ialah para mahasiswa baik perorangan maupun kelompok makin kehilangan inisiatif mendorong dinamika kampus sebagai center of excellent melalui penciptaan lingkungan pembalajaran pada setiap bentuk interaksinya. Ketidakmampuan itu, pada satu sisi semakin menjauhkan mahasiswa dari kegemaran mencari dan menggali ilmu pengetahuan, dan pembentukan indentitas, sementara pada lain sisi semakin merapatkan sebagian mahasiswa pada kecenderungan pragmatisme, hedonisme dan sikap easy going yang cukup mengkuatirkan. 
</p>  
<p class="tentang_indo">
    Kekuatiran mana ketika semakin membiaknya pandangan bahwa kampus hanyalah institusi penyelenggaraan proses belajar mengajar dalam arti sempit, dan para civitasnya hanya datang demi menunaikan kewajiban formal belaka. Lingkungan yang demikian berpengaruh pada pembentukan persepsi dan karakter mahasiswa yang memandang bahwa kuliah adalah sebatas mencari gelar, selembar ijasah demi status sosial atau persyaratan melamar kerja dan seterusnya.
</p>
<p class="tentang_indo">
    Kondisi ini sangatlah kontradiktif dengan harapan dan tuntutan pada pendidikan tinggi yang diharapkan sanggup melahirkan generasi muda bangsa yang berkarakter, memiliki integritas, menguasai ilmu pengetahuan dan teknologi, memiliki daya saing tinggi, yang selanjutnya diharapakan mampu tampil sebagai pemimpin dalam melakukan transformasi sosial, kapanpun dan dimanapun dia berada. 
</p>
<p class="tentang_indo">
    Berangkat dari realitas di atas, maka lahirlah gagasan kecil untuk membentuk Forum Studi Independensia Youth Creative Community (Independensia YCC); sebagai wahana pengembangan pemikiran melalui kajian dan diskusi tentang filsafat, agama, sosial, kebudayaan; pembentukan rumah pencerahan atau perpustakaan maupun membina lingkuangan pembelajaran dalam arti luas sebagai upaya “melawan arus” atas berbagai kecenderungan negatif di atas.
</p>

{% endblock %}