{% extends "pembentukan.html" %}

{% block konten %}
<br>
     <h2 class="tentang_indo">Spesifikasi Lembaga:</h2>
     <h2 class="tentang_inggris">specifications</h2><br>
<p class="tentang_indo">
    Lembaga independensia ini mefokuskan aktivitas pada kajian dan diskusi; mengembangkan rumah baca-perpustakaan untuk mahasiswa dan masyarakat; pengembangan minat membaca dan menulis; pengembangan kretifitas dan minat anggota pada Sastra, Seni-Budaya dan Jurnalisme; menyelenggarakan pelatihan, workshop dan seminar, serta melibatkan anggotanya sebagai surveyor pada lembaga penelitian, dan sebagai lembaga yang melakukan penelitian serta survei. 
    Selain bergerak pada pengembangan pengetahuan intelektualitas, lembaga independensia melebarkan sayap dibidang penerbitan dan percetakan (buku, tabloid, dan koran). Hal ini sebagai tuntutan atas makin banyak lahir para penulis dan meningkatnya minat baca dikalangan masyarakat. Lembaga percetakan dan penerbitan sebagai komitmen mendorong budaya menulis, membaca, dan diskusi dikalangan mahasiswa, pemuda, dan masyarakat pada umumnya.         
    Nama Independensia diambil dari kata “Independen” yang berarti mandiri dan otonom. Dengan harapan, para anggotanya senantiasa teguh pada pendirian dan berorientasi pada kebenaran, keadilan dan kesejahteraan sebagai tujuan perjuangan.
</p>

{% endblock %}