{% extends "base2.html" %}

{% block konten %}      
 
      <div id="social"><p> Vission and Mission.</p></div>
      <!-- Studio -->
      <div class="container studio">
         <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 wow fadeInDown">
               <p>   ► Visi dan Misi:  </p>
                Lembaga Indepenedensia mengusung Visi membina anggota agar memiliki intelektual, integritas, kreatifitas, kemadirian, berlaku adil, menghargai kesetaraan, dan kemerdekaan dalam berpikir. Dengan visi ini diharapkan dapat membentuk generasi masa depan yang berkualitas. 
                  Sedangkan Misinya ialah, sebagai wadah pencerahan dan transformasi ilmu pengetahuan, nilai-nilai keagamaan dan kearifan dan membina moralitas anggota yang berorientasi pada kebenaran, serta terciptanya sumber insani yang berkomitmen pada perubahan dan perbaikan masyarakat pada lingkungan dia berada. 
                  <br><br>
               <p>   ► Tujuan:  </p>
                 
                  Tujuan lembaga membentuk generasi muda yang berwawasan, berpikir logis, kreatif, dan mandiri. Sehingga menjadi lokomotif perubahan, dan membangun sistem sosial yang lebih baik.
                  <br><br>    
               <p>► Tentang Nama:     </p>

                  Nama Independensia diambil dari kata “Independen” yang berarti mandiri dan otonom. Dengan harapan, para anggotanya senantiasa teguh pada pendirian dan berorientasi pada kebenaran, keadilan dan kesejahteraan sebagai tujuan perjuangan.
                  <br><br>
               <p>► Spesifikasi Lembaga:  </p>

                  Lembaga independensia ini mefokuskan aktivitas pada kajian dan diskusi; mengembangkan rumah baca-perpustakaan untuk mahasiswa dan masyarakat; pengembangan minat membaca dan menulis; pengembangan kretifitas dan minat anggota pada Sastra, Seni-Budaya dan Jurnalisme; menyelenggarakan pelatihan, workshop dan seminar, serta melibatkan anggotanya sebagai surveyor pada lembaga penelitian, dan sebagai lembaga yang melakukan penelitian serta survei. 
                  Selain bergerak pada pengembangan pengetahuan intelektualitas, lembaga independensia melebarkan sayap dibidang penerbitan dan percetakan (buku, tabloid, dan koran). Hal ini sebagai tuntutan atas makin banyak lahir para penulis dan meningkatnya minat baca dikalangan masyarakat. Lembaga percetakan dan penerbitan sebagai komitmen mendorong budaya menulis, membaca, dan diskusi dikalangan mahasiswa, pemuda, dan masyarakat pada umumnya.         
                  <br><br>
            
         
             

            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-sm-12 wow fadeInDown">
               <img class="img-fluid" src="{{url_for('static',filename="foto/gedung.jpeg")}}"  alt="Photo">
               <p>Independensia Maluku Utara</p>
            </div>
         </div>
        </div>
         <div class="container studio">
            <div class="row justify-content-center">
               <div class="col-md-8 col-sm-12 wow fadeInDown">
                  <p>  ► Kelembagaan dan Pengelola:
                     institution and structure
                Sesuai dengan sifat dan tujuannya, maka struktur dan personalia disesuaikan dengan kondisi obyektif serta kebutuhan, sementara para pengelolanya terdiri dari pemuda dan mahasiswa yang tersebar pada 3 (tiga) Perguruna Tinggi di Kota Ternate, yakni pada Universitas KHAIRUN, UMMU dan STIKIP Kie Raha, dengan beragam etnis yang berbeda. 
                </p>
                  <p>► Kegiatan yang pernah dilaksanakan:
                     about aktivities
                Sejak pembentukannya, Forum Studi ini telah melakuakan ; Kajian dan Diskusi berkala (3 kali seminggu) ; Bedah Buku ; Pemutaran dan Diskusi Film; Dialog Pemuda Kampung (DIMUKA); Karantina Pendalaman Filsafat dan Kegiatan Kampanye Anti-Narkoba, dan Seks Bebas; Pangaung Kebudayaan dan Pendirian perpustakaan bagi anggota dan masyarakat sekitar
                </p>
               </div>
            </div>
         </div>
{% endblock %}      
